[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
flask-socketio = "*"
eventlet = "*"
"urllib3" = {extras = ["secure"]}
pyyaml = "*"
selenium = "*"
requests = "*"
backoff = "*"
pyrebase = "*"

[dev-packages]

[requires]
python_version = "3.6"
