.logitemdiv {
    background-color:lightgray; white-space:nowrap;
    width: 575px; padding: 2px; margin: 2px;
}

.logtimediv {
    background-color: gold; font-size: 9px;
    display: inline-block; vertical-align: middle; text-align: center;    
    width: 100px; padding: 5px; margin: 2px;
}

.logcontentdiv {
    background-color: aliceblue; font-size: 10px;
    display: inline-block; vertical-align: middle;    
    width: 450px; padding: 2px; margin: 2px;
}

.logdiv {
    background-color: #bbb; overflow: scroll;
    width: 600px; height: 400px; padding: 5px; margin: 5px;
}

.curlyborder {
    border: solid 1px; border-radius: 5px;
}

.textinputcontainer {    
    display: flex; justify-content: space-around; align-items: center;
    background-color: #ace; border: solid 1px; border-radius: 5px;
    width: 500px; padding: 5px; margin: 5px;
}

.textinputtext {
    font-size: 24px; background-color: yellowgreen; border: solid 1px; border-radius: 5px;
    width: 300px; padding: 5px; margin: 5px;
}

.textinputbutton {
    font-size: 18px; background-color: yellowgreen; border: solid 1px; border-radius: 5px;
    padding: 5px; margin: 3px;
}

.tabpanecontainer {    
    background-color: #fde;    
}

.tabpanetabsdiv {
    background-color: #dfe;
    display: flex; justify-content: space-around; align-items: center;
}

.tabpanetab {
    background-color: #ddd; border: solid 1px; border-radius: 5px;
    padding: 5px;
}

.tabpaneseltab {
    background-color: #dfd;        
}

.tabpanecontentdiv {
    background-color: #aef; overflow: scroll;
}

.schemaitem {
    background-color: #ce9; width: 600px; height: 40px;
}

.schemacollection {
    display: flex; justify-content: space-around; align-items: center;
    background-color: #d9e;
}

.schemacreate {
    display: flex; justify-content: space-around; align-items: center;
    background-color: #aaa;
}

.schemacollectionrawtextinput {
    font-size: 22px; padding: 2px; padding-left: 5px;
}

.schemacollectionopenbutton {
    width: 30px; height: 30px;
    background-color: #ee9; cursor: pointer;
}

.schemacollectionopenbuttondone {
    background-color: #aaf;
}

.schemacollectionopendiv {
    margin-left: 20px;
}