:root {
    --schemanamewidth: 200px;
    --schemawidth: 500px;
    --schemaitemheight: 40px;
    --schemacontainermargin: 2px;
    --schemasettingswidth: 300px;
    --schemahelpwidth: 500px;
    --schemasettingspadding: 8px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.logitemdiv {
    background-color:lightgray; white-space:nowrap;
    width: 575px; padding: 2px; margin: 2px;
}

.logtimediv {
    background-color: gold; font-size: 9px;
    display: inline-block; vertical-align: middle; text-align: center;    
    width: 100px; padding: 5px; margin: 2px;
}

.logcontentdiv {
    background-color: aliceblue; font-size: 10px;
    display: inline-block; vertical-align: middle;    
    width: 450px; padding: 2px; margin: 2px;
}

.logdiv {
    background-color: #bbb; overflow: scroll;
    width: 600px; height: 400px; padding: 5px; margin: 5px;
}

.curlyborder {
    border: solid 1px; border-radius: 5px;
}

.textinputcontainer {    
    display: flex; justify-content: space-around; align-items: center;
    background-color: #ace; border: solid 1px; border-radius: 5px;
    width: 500px; padding: 5px; margin: 5px;
}

.textinputtext {
    font-size: 24px; background-color: yellowgreen; border: solid 1px; border-radius: 5px;
    width: 300px; padding: 5px; margin: 5px;
}

.textinputbutton {
    font-size: 18px; background-color: yellowgreen; border: solid 1px; border-radius: 5px;
    padding: 5px; margin: 3px;
}

.tabpanecontainer {    
    background-color: #fde;    
}

.tabpanetabsdiv {
    background-color: #dfe;
    display: flex; justify-content: space-around; align-items: center;
}

.tabpanetab {
    background-color: #ddd; border: solid 1px; border-radius: 5px;
    padding: 5px;
}

.tabpaneseltab {
    background-color: #dfd;        
}

.tabpanecontentdiv {
    background-color: #aef; overflow: scroll;
}

.schemaitem {
    background-color: #ce9; width: var(--schemawidth); height: var(--schemaitemheight);
}

.schemacontainer {
    display: flex;
    margin: 1px;
}

.schemaenablebox {
    display: flex; justify-content: space-around; align-items: center;
    width: var(--schemaitemheight); height: var(--schemaitemheight); background-color: #bbb; margin-right: 2px;
}

.schemasettingsbox {    
    display: flex; justify-content: flex-end; align-items: flex-start;
    width: var(--schemaitemheight); height: var(--schemaitemheight); margin-left: 2px;
    background-color: #99f; cursor: pointer;
}

.schemahelpbox {    
    display: flex; justify-content: space-around; align-items: center;
    width: calc( var(--schemaitemheight) / 2 ); height: calc( var(--schemaitemheight) / 2 );
    background-color: #ff9; cursor: pointer;
}

.schemasettingsdiv {
    margin-left: calc( var(--schemawidth) - var(--schemasettingswidth) + 2 * ( var(--schemaitemheight) + var(--schemacontainermargin) - var(--schemasettingspadding) ) );
    width: var(--schemasettingswidth); min-height: 100px;
    background-color: #ace; padding: var(--schemasettingspadding);
}

.schemahelpdiv {    
    margin-left: calc( var(--schemawidth) - var(--schemahelpwidth) + 2 * ( var(--schemaitemheight) + var(--schemacontainermargin) - var(--schemasettingspadding) ) );
    width: var(--schemahelpwidth); min-height: 100px;
    background-color: #cca; padding: var(--schemasettingspadding);
}

.schemaitemname {
    display: flex; justify-content: space-around; align-items: center;
    background-color: #cef; width: var(--schemanamewidth); height: var(--schemaitemheight); margin: 1px;
}

.namedschemaitem {
    display: flex;
}

.schemacollection {
    display: flex; justify-content: space-around; align-items: center;
    background-color: #d9e;
}

.schemalist {
    background-color: #9de;
}

.schemadict {
    background-color: #9e9;
}

.schemascalar {    
    display: flex; justify-content: space-around; align-items: center;
    background-color: #f49;
}

.schemascalarrawtextinput {
    width: calc( var(--schemawidth) - 80px ); font-size: 22px; padding: 2px; padding-left: 5px;
}

.schemacreate {
    display: flex; justify-content: space-around; align-items: center;
    background-color: #aaa;
}

.namedschemaitemrawtextinput {
    font-size: 22px; padding: 2px; padding-left: 5px; width: calc( var(--schemanamewidth) - 40px );
}

.schemacollectionopenbutton {
    width: 30px; height: 30px;
    background-color: #ee9; cursor: pointer;
}

.schemacollectionopenbuttondone {
    background-color: #aaf;
}

.schemacollectionopendiv {
    margin-left: calc( var(--schemaitemheight) + var(--schemacontainermargin) );
    margin-top: var(--schemacontainermargin);
}

.comboboxselect {
    font-size: 20px; font-weight: bold; padding: 2px;
    border: solid 1px; border-radius: 5px;   
}

.comboboxoptionfirst {
    font-weight: bold;
}

.comboboxoption {
    font-weight: normal;
}
