:root {    
    --schemabase: 30px;
    --schemaopenbuttonsize: calc( var(--schemabase) * 0.8 );
    --schemanamewidth: calc( var(--schemabase) * 5 );    
    --schemainputfontsize: calc( var(--schemabase) * 0.6 );
    --schemawidth: calc( var(--schemabase) * 8 );
    --schemaitemheight: var(--schemabase);
    --schemacontainermargin: 2px;
    --schemasettingswidth: 200px;
    --schemahelpwidth: 500px;
    --schemasettingspadding: 8px;
    --logtimewidth: 50px;
    --copybackgroundcolor: #9f9;
    --maxschemaopenbuttonwidth: calc( var(--schemawidth) - 8 * var(--schemacontainermargin) );
    --schemacollindent: calc( var(--schemabase) + 2 * var(--schemacontainermargin) );
    --boardcontrolpanelheight: 40px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.logitemdiv {
    display: flex; justify-content: space-around; align-items: center;
    background-color:lightgray;    
    width: calc(100% - 2px); padding: 1px;
}

.logtimediv {
    background-color: gold; font-size: 9px; font-family: monospace;    
    width: var(--logtimewidth); text-align: center; padding: 1px;
}

.logcontentdiv {
    background-color: aliceblue; font-size: 10px; font-family: monospace;    
    width: 100%; padding: 2px; margin-left: 4px;
    overflow: hidden;
}

.logcontentjson {
    background-color: #ffa;
}

.logdiv {
    background-color: #bbb;
}

.textinputcontainer {    
    display: flex; justify-content: space-around; align-items: center;
    background-color: #ccc; width: 500px; padding: 5px; margin: 5px;
}

.textinputtext {
    font-size: 24px; background-color: #eee;
    width: 350px; padding: 5px; margin: 5px; font-weight: bold;
}

.textinputbutton {
    font-size: 18px; background-color: #ddd;
    padding: 5px; margin: 3px;
}

.tabpanecontainer {    
    background-color: #fde;    
}

.tabpanetabsdiv {
    background-color: #ccc;
    display: flex; justify-content: space-around; align-items: center;
}

.tabpanetab {
    background-color: #ddd;
    padding: 5px; cursor: pointer;
}

.tabpanetab:hover {
    background-color: #eee;
}

.tabpaneseltab {
    background-color: #dfd;        
}

.tabpaneseltab:hover {
    background-color: #efe;        
}

.tabpanecontentdiv {
    background-color: #aef; overflow: scroll;
}

.schemaitem {
    background-color: #ce9; width: var(--schemawidth); height: var(--schemaitemheight);
}

.schemacontainer {
    display: flex;
    margin: 1px;
}

.schemaenablebox {
    display: flex; justify-content: space-around; align-items: center;
    width: var(--schemaitemheight); height: var(--schemaitemheight); background-color: #bbb; margin-right: 2px;
}

.schemaenablecheckbox {
    width: calc( var(--schemaitemheight) / 2 ); height: calc( var(--schemaitemheight) / 2 );
}

.schemahelpbox {    
    display: flex; justify-content: space-around; align-items: center;
    width: var(--schemaitemheight); height: var(--schemaitemheight); margin-left: 2px;
    background-color: #ff9; cursor: pointer;
}

.schemacopybox {    
    display: flex; justify-content: space-around; align-items: center;
    width: var(--schemaitemheight); height: var(--schemaitemheight); margin-left: 2px;
    background-color: var(--copybackgroundcolor); cursor: pointer;
}

.schemasettingsbox {    
    display: flex; justify-content: space-around; align-items: center;
    width: var(--schemaitemheight); height: var(--schemaitemheight); margin-left: 2px;
    background-color: #dd7; cursor: pointer;
}

.schemaremovebox {    
    display: flex; justify-content: space-around; align-items: center;
    width: var(--schemaitemheight); height: var(--schemaitemheight); margin-left: 2px;
    background-color: #f77; cursor: pointer;
}

.schemasettingsdiv {
    margin-left: calc( var(--schemawidth) - var(--schemasettingswidth) + 3.8 * ( var(--schemaitemheight) + var(--schemacontainermargin) ) - 2 * var(--schemasettingspadding) );
    width: var(--schemasettingswidth);
    background-color: #ace; padding: var(--schemasettingspadding);
}

.labeledlinkedcheckbox:nth-of-type(odd) {
    background-color: #dde;
}

.labeledlinkedcheckbox:nth-of-type(even) {
    background-color: #ded;
}

.schemahelpdiv {        
    width: var(--schemahelpwidth);
    background-color: #cca; padding: var(--schemasettingspadding);
}

.schemahelpcontentdiv {
    width: 100%; max-height: 150px; background-color: #eee; overflow: scroll;
}

.schemahelpeditdiv {
    width: 100%; background-color: #ccc;
}

.schemahelpedittextarea {
    width: calc( 100% - 6px ); height: 150px; margin-bottom: -3px;
}

.schemaitemname {
    display: flex; justify-content: space-around; align-items: center;
    background-color: #cef; width: var(--schemanamewidth); height: var(--schemaitemheight); margin: 1px;
}

.namedschemaitem {
    display: flex;
}

.schemacollection {
    display: flex; justify-content: space-around; align-items: center;
    background-color: #d9e;
}

.schemalist {
    background-color: #9de;
}

.schemadict {
    background-color: #9e9;
}

.schemascalar {    
    display: flex; justify-content: space-around; align-items: center;
    background-color: #fad;
}

.schemascalarrawtextinput {
    width: calc( var(--schemawidth) - 9px - 2 * var(--schemacontainermargin) ); font-size: var(--schemainputfontsize); padding: 2px; padding-left: 5px;
    font-family: monospace;
}

.schemacreate {
    display: flex; justify-content: space-around; align-items: center;
    background-color: #aaa;
}

.namedschemaitemrawtextinput {
    font-size: var(--schemainputfontsize); padding: 2px; padding-left: 5px; width: calc( var(--schemanamewidth) - 9px - 2 * var(--schemacontainermargin) );
    font-family: monospace;
}

.schemacollectionopenbutton {
    display: flex; justify-content: space-between; align-items: center;
    min-width: var(--schemaopenbuttonsize); max-width: var(--maxschemaopenbuttonwidth); height: var(--schemaopenbuttonsize);
    background-color: #ee9; cursor: pointer;
}

.schemacollectionopenbuttonlabel {    
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc( var(--maxschemaopenbuttonwidth) - 8 * var(--schemacontainermargin) );
    font-size: calc( var(--schemainputfontsize) * 0.8 );
    padding: calc( 3 * var(--schemacontainermargin) );
    font-weight: bold;
}

.schemacollectionopenbuttondone {
    background-color: #bbf;
}

.schemacollectionopendiv {    
    margin-top: var(--schemacontainermargin);
    margin-left: var(--schemacollindent);
}

.comboboxselect {
    font-size: 20px; font-weight:bold; padding: 2px;    
}

.schemacreatecomboselect {
    font-size: calc(var(--schemainputfontsize) ); padding: 1px;
}

.comboboxoptionfirst {
    font-weight: bold;
}

.comboboxoption {
    font-weight: normal;
}

.labeledlinkedcheckboxcontainer {
    display: flex; justify-content: space-between; align-items: center;
    width: 100%;
}

.schemawritepreferencecheckcontainer {
    background-color: #eed;
    margin-bottom: 1px;
}

.schemawritepreferenceformsubdiv {
    margin-bottom: 2px;
}

.defaultrawtextinput {
    font-size: 14px;
}

.defaultlinkedtextinputtext {
    font-size: 14px;
}

.splitpanecontrolpanel {
    display: flex; justify-content: space-around; align-items: center;
    overflow: default;
}

.logpanecontentdiv {
    overflow: scroll;
}

.splitpanecontentdiv {
    overflow: scroll;
}

.logcontentcmd {
    color: #77f; font-weight: bold; font-size: 20px;
}

.logcontentcmdreadline {
    color: #000; font-weight: bold; font-size: 20px;
}

.logcontentcmdinfo {
    color: #008; font-weight: bold; font-size: 20px;
}

.logcontentcmdstatusok {
    color: #080; font-weight: bold; font-size: 20px;
}

.logcontentcmdstatuserr {
    color: #a00; font-weight: bold; font-size: 20px;
}

.logitemcontentmul {
    color: blue; font-weight: bold;
}

.schemadictchild {
    margin-left: calc( var(--schemacontainermargin) - var(--schemabase) );
}

.schemapastebutton {
    font-size: calc( var(--schemainputfontsize) * 0.5 );
    background-color: var(--copybackgroundcolor);
}

.configschemacontainerdiv {
    min-width: 2000px; min-height: 2000px;
}

.linkedslidercontainerclass {
    display: flex; justify-content: space-around; align-items: center;
    background-color: #9de; padding: 2px;
}

.linkedslidervaluetextclass {
    font-size: 20px; padding: 2px;
}

.linkedslidermintextclass {
    font-size: 16px; padding: 1px;
}

.linkedslidersliderclass {
    height: 15px;
}

.linkedslidermaxtextclass {
    font-size: 16px; padding: 1px;
}

.schemalinkedslidercontainerclass {
    display: flex; justify-content: space-around; align-items: center;
    background-color: #9de; padding: 2px;
}

.schemalinkedslidervaluetextclass {
    font-size: var(--schemainputfontsize); padding: 1px; width: calc( var(--schemabase) * 2 );
}

.schemalinkedslidermintextclass {
    font-size: calc( var(--schemainputfontsize) * 0.6 ); padding: 1px; width: calc( var(--schemabase) );
}

.schemalinkedslidersliderclass {
    background-color: #9e9; margin: var(--schemacontainermargin);
    width: calc( var(--schemabase) * 3 ); height: calc( var(--schemabase) * 0.8 );
}

.schemalinkedslidermaxtextclass {
    font-size: calc( var(--schemainputfontsize) * 0.6 ); padding: 1px; width: calc( var(--schemabase) );
}

.schemacheckenablecheckbox {
    background-color: #7a7;
}

.schemadictchildleftmargin {
    margin-left: calc( var(--schemacollindent) - var(--schemanamewidth) );
}

.dirbrowseritem {
    display: flex; justify-content: left; align-items: center;
    width: calc(100% - 7px);
    height: 35px;    
    cursor: pointer;
    padding: 2px; padding-left: 5px;
    font-family: monospace;
}

.dirbrowsername {
    background-color: #aef;
    font-size: 20px;
    padding: 2px;
}

.dirbrowsersize {
    background-color: #fee;
    font-size: 18px;
    padding: 3px;    
    margin-left: 5px;
    font-weight: bold;
}

.dirbrowserdirname {
    background-color: #afa;
    font-size: 25px;
    padding: 3px;
}

.dirbrowserfile {
    background-color: #eeeeee;
}

.dirbrowserfile:nth-of-type(odd) {
    background-color: #e7e7e7;
}

.dirbrowserdir {
    background-color: #ffffdd;    
    font-weight: bold;
}

.dirbrowserdir:nth-of-type(odd) {
    background-color: #f7f7dd;    
    font-weight: bold;
}

.dirbrowsertoparent {            
    background-color: #fcc;
    width: 100px;
    padding-left: 5px;
}

.dirbrowsermodat {
    font-size: 10px;
    background-color: #dde;
    padding: 2px; margin-left: 5px;
}

.dirbrowserrwx {
    font-size: 16px;
    background-color: #ffc;
    color: #00f;
    padding: 2px; margin-left: 5px;
}

.boardoutercontainer {
    position: relative;
    background-image: url(/static/img/backgrounds/wood.jpg)
}

.boardcontainer {
    position: absolute;
    background-image: url(/static/img/backgrounds/wood.jpg)
}

.boardsquare {
    position: absolute;
    opacity: 0.2;
}

.boardsquaredark {
    background-color: #777;
}

.boardsquarelight {
    background-color: #fff;
}

.boardpiece {
    position: absolute;    
}

.variantselect {
    font-size: 14px; padding: 1px;
    background-image: url(/static/img/backgrounds/wood.jpg)
}

.variantoptionfirst {
    font-weight: normal;    
}

.variantoption {
    font-weight: normal;    
}

.boardcontrolpanel {
    display: flex; justify-content: space-around; align-items: center;
    height: var(--boardcontrolpanelheight);
}

.boardpromotionsquare {
    background-color: #ff0;
}

.boardfendiv {
    display: flex; justify-content: space-around; align-items: center; padding: 3px;
}

.boardstorediv { 
    display: flex; justify-content: space-around; align-items: center; padding: 3px;
}

.boardsectioncontainer {
    background-image: url(/static/img/backgrounds/wood.jpg)
}

.bigboardsectioncontainer {
    background-image: url(/static/img/backgrounds/wood.jpg)
}

.piecestorecontainer {    
    padding: 2px;
    display: flex;
    background-image: url(/static/img/backgrounds/wood.jpg)
}

.storemuldiv {
    display: flex; justify-content: space-around; align-items: center;
    font-weight: bold; color: #007;
}

.boardthreechecklifesdiv {
    font-weight: bold;
}

.bigboardverticalcontainer {
    display: flex;
}

.bigboardmovelist {
    background-color: #def;
    overflow: scroll;
    text-align: center;
    margin-top: var(--boardcontrolpanelheight);
}

.bigboardshowmove {
    padding: 2px;
    cursor: pointer;
    color: #007;
    font-family: monospace;
    font-size: 16px;
}