<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Flask hello world</title>
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/widgets.css?{{randurl()}}">
    <link rel="stylesheet" href="static/css/app.css?{{randurl()}}">
    <link rel="shortcut icon" href="{{ url_for("static", filename="img/favicon.ico") }}">
    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script> -->
    <script type="text/javascript" src="static/js/socket.io.min.js"></script>
</head>

<body>    
    <div id="maintabdiv"></div>
    <script src="static/js/app.js?{{randurl()}}"></script>
</body>

</html>
